<nav id="game" class="nav">
    <ul class="nav__menu">
        <li id="home-game" class="nav__menu-item">
            <a class="nav__link" href="/#">HOME</a>
        </li>
        <li id="game-game" class="nav__menu-item --active">
            <a class="nav__link" href="#">OTHER WORK</a>
        </li>
        <li id="about-game" class="nav__menu-item">
            <a class="nav__link" href="/#about">ABOUT</a>
        </li>
        <li id="portfolio-game" class="nav__menu-item">
            <a class="nav__link" href="/#portfolio">PORTFOLIO</a>
        </li>
        <li id="contact-game" class="nav__menu-item">
            <a class="nav__link" href="/#contact">CONTACT</a>
        </li>
    </ul>
</nav>