<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Title -->
    <title>Keegan R Johnson Personal Website</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="Learn Moreport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Keegan R Johnson" />
    <meta name="description" content="The personal website of Keegan Johnson. Junior web developer and designer. Using this website to improve my skills and show them off at the same time." />
    <meta name="keywords" content="Keegan R Johnson, keegan r johnson,Keegan Johnson,keegan johnson,Keegan,keegan,Johnson,johnson" />
    <meta name="robots" content="index, follow" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <style>
      .header__title-background{
        display: none;
      }
    </style>
  </head>
  <body>