<div class="header">
    <div class="header__title-background">
        <h1 class="header__title">
            Hello, I'm <span class="header__name">Keegan Johnson</span>.
            <br />
            I'm a Web Developer.
        </h1>
        <a href="#about" class="btn btn-primary btn-lg header__button">
            View My Work
            <i class="fa-solid fa-greater-than header__arrow"></i>
        </a>
    </div>
    <div id="header-canvas" class="header__animation"></div>
</div>