<div id="portfolio" class="portfolio">
    <h3 id="section-title">Portfolio</h3>
    <div class="portfolio__work-container">
      <ul id="portfolio-menu" class="portfolio__menu">
        <span id="highlighter"></span>
        <li id="all" class="portfolio__menu-item active"><a class="portfolio__link">All</a></li>
        <li id="html" class="portfolio__menu-item"><a class="portfolio__link">HTML/CSS</a></li>
        <li id="js" class="portfolio__menu-item"><a class="portfolio__link">Javascript</a></li>
        <li id="node" class="portfolio__menu-item"><a class="portfolio__link">Node</a></li>
        <li id="php" class="portfolio__menu-item"><a class="portfolio__link">PHP</a></li>
      </ul>
      <div id="portfolio-work-menu" class="portfolio__flex-container">
        <div class="work html">
          <div class="work__container">
            <img class="work__img" src="img/work/work01.png" />
            <div class="work__overlay">
              <h4 class="work__title">School Project 1</h4>
              <p class="work__desc">HTML/CSS</p>
              <a href="/site-one" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work html">
          <div class="work__container">
            <img class="work__img" src="img/work/work02.png" />
            <div class="work__overlay">
              <h4 class="work__title">School Project 2</h4>
              <p class="work__desc">HTML/CSS</p>
              <a href="/site-two" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work js">
          <div class="work__container">
            <img class="work__img" src="img/work/work03.png" />
            <div class="work__overlay">
              <h4 class="work__title">School Project 3</h4>
              <p class="work__desc">HTML/CSS/Javascript</p>
              <a href="/site-three" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work js">
          <div class="work__container">
            <img class="work__img" src="img/work/work04.png" />
            <div class="work__overlay">
              <h4 class="work__title">Game 1</h4>
              <p class="work__desc">HTML/CSS/Javascript/Phaser</p>
              <a href="/game-one" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work js">
          <div class="work__container">
            <img class="work__img" src="img/work/work05.png" />
            <div class="work__overlay">
              <h4 class="work__title">Game 2</h4>
              <p class="work__desc">HTML/CSS/Javascript</p>
              <a href="/game-two" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work js">
          <div class="work__container">
            <img class="work__img" src="img/work/work06.png" />
            <div class="work__overlay">
              <h4 class="work__title">Game 3</h4>
              <p class="work__desc">HTML/CSS/Javascript/jQuery</p>
              <a href="/game-three" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work php">
          <div class="work__container">
            <img class="work__img" src="img/work/work07.png" />
            <div class="work__overlay">
              <h4 class="work__title">Previous Site</h4>
              <p class="work__desc">HTML/CSS/Javascript/PHP</p>
              <a href="http://prev.keeganrjohnson.com/" class="btn btn-primary work__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="work node">
          <div class="work__container">
            <img class="work__img" src="img/work/work08.png" />
            <div class="work__overlay">
              <h4 class="work__title">Current Site</h4>
              <p class="work__desc">HTML/CSS/Javascript/Node</p>
              <a href="#" class="btn btn-primary work__button">
                To Top
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>