<%- include('partials/header') -%>

<header class="header contact">
    <a href="/site-three">
        <img src="../img/site3/Logo.png" class="logo">
    </a>
    <ul class="mainmenu">
        <li class="mainmenu-item">
             <a href="/site-three" class="mainmenu-link">
             home
             </a>
        </li>
        <li class="mainmenu-item">
             <a href="/site-three/about" class="mainmenu-link">
             about
             </a>
        </li>
        <li class="mainmenu-item">
             <a href="/site-three/contact" class="mainmenu-link select">
             contact
             </a>
        </li>
        <li class="mainmenu-item">
             <a href="/site-three/gallery" class="mainmenu-link" id="mainmenu-lastitem">
             gallery
             </a>
        </li>
    </ul>
 </header>

 <section id="contactinfo">
    <h1 id="contactheader">
        Contact
    </h1>
    <h3 id="contactname">
        Keegan Johnson
    </h3>
    <h4 id="contactteleemail">
        Email: keeganjohnson43@email.com
    </h4>
</section>

<%- include('partials/footer') -%>