<%- include('partials/header') -%>

<header class="header gallery">
    <a href="/site-three">
        <img src="../img/site3/Logo.png" class="logo">
    </a>
    <ul class="mainmenu">
        <li class="mainmenu-item">
             <a href="/site-three" class="mainmenu-link">
             home
             </a>
        </li>
        <li class="mainmenu-item">
             <a href="/site-three/about" class="mainmenu-link">
             about
             </a>
        </li>
        <li class="mainmenu-item">
             <a href="/site-three/contact" class="mainmenu-link">
             contact
             </a>
        </li>
        <li class="mainmenu-item">
             <a href="/site-three/gallery" class="mainmenu-link select" id="mainmenu-lastitem">
             gallery
             </a>
        </li>
    </ul>
 </header>

 <section id="tablesect">
    <table id="otherworktable">
        <tr id="titlerow">
          <td id="tabletitledata">Current Site</td>
        </tr>
        <tr id="otherworkrow">
          <td id="tabledata"><a href="/"><img src="../img/work/work08.png" id="bp02" href="index.html"></a></td>
        </tr>
      </table>
      <table id="otherworktable">
        <tr id="titlerow">
          <td id="tabletitledata">Previous Site</td>
        </tr>
        <tr id="otherworkrow">
          <td id="tabledata"><a href="/"><img src="../img/work/work07.png" id="bp02" href="index.html"></a></td>
        </tr>
      </table>
    <table id="otherworktable">
      <tr id="titlerow">
        <td id="tabletitledata">Site 1</td>
        <td id="tabletitledata">Site 2</td>
        <td id="tabletitledata">Site 3</td>
      </tr>
      <tr id="otherworkrow">
        <td id="tabledata"><a href="/site-one"><img src="../img/work/work01.png" id="bp01"></a></td>
        <td id="tabledata"><a href="/site-two"><img src="../img/work/work02.png" id="bp02" href="index.html"></a></td>
        <td id="tabledata"><a href="/site-three"><img src="../img/work/work03.png" id="bp03" href="../bpsite1/index.html"></a></td>
      </tr>
    </table>
    <table id="otherworktable">
      <tr id="titlerow">
        <td id="tabletitledata">Game 1</td>
        <td id="tabletitledata">Game 2</td>
        <td id="tabletitledata">Game 3</td>
      </tr>
      <tr id="otherworkrow">
        <td id="tabledata"><a href="/game-one"><img src="../img/work/work04.png" id="bp01"></a></td>
        <td id="tabledata"><a href="/game-two"><img src="../img/work/work05.png" id="bp02" href="index.html"></a></td>
        <td id="tabledata"><a href="/game-three"><img src="../img/work/work06.png" id="bp03" href="../bpsite1/index.html"></a></td>
      </tr>
    </table>
  </section>

<%- include('partials/footer') -%>