<%- include('partials/header') -%>

    <section id="bg01" style="background-image: url(img/site3/home-header.jpg);" class="scroll"
        data-rate=".5" data-direction="vertical">

    </section>

    <section id="bg02" style="background-image: url(img/site3/home-bottom.jpg);" class="scroll"
        data-rate=".5" data-direction="verticalN2">

    </section>

    <section id="picheader" style="top:950px;">
        <h1 id="picheading">
            Keegan Johnson
        </h1>
        <p id="picwords">
            Hello! I'm Keegan Johnson, and I'd like to welcome you to my website. Here you will learn more about me, as
            well as learn my passions. You will also find my contact info to get in contact with me.
        </p>
    </section>
    <section id="pnb">
        <img src="../img/site3/huzaifa-waheed-hNrmUW5WAdM-unsplash.jpg" id="pnbbiopic"
            style="width: 698.22px; height: 1241px;">
        <section id="rightofpic">
            <h3 id="pnbheading">
                Student. Helper. Geek.
            </h3>
            <p id="pnbbio" style="top: 400px;">
                At my core, I am a student through and through. I never stop learning. I tend to see something and want
                to try to replicate it or try to complete a random goal that I set out for myself. If I don't know
                something, I find out the information I am looking for. I am always prodding and the gates of knowledge
                hoping to be let in once again. To achieve, one must strive for greatness. So in my day-to-day life, I
                always try to improve who I am. And this example is shown throughout my work. So I hope you would take
                the time to take a look at my accomplishments.
            </p>
            <p id="pnbbio" style="top: 545px;">
                Secondly, I am a helper. I try to be that encouraging hand that is there to let you know that if you
                need the help, it is here ready to help. When I am helping someone, I feel like I accomplished
                something. I am always looking to lend a helping hand. I also like to fill in anywhere that new filling.
                Being helpful also show that one is useful, and I always appreciate being useful. This is also why I am
                always trying to learn and improve myself. Because the more useful I am, the more help I can provide to
                someone that needs it.
            </p>
            <p id="pnbbio" style="top: 665px;">
                Lastly, I am a geek. I not only learn how to improve my skills. I also learn to improve my gaming. Yes,
                yes I am a geek, nerd, game, what have you. But this is how I enjoy my time when I'm not learning
                something new or trying to help someone with something. But in a way, I am doing both those with all the
                team games I play... But I digress.
            </p>
            <a id="biobutton" href="about.html">
                <span id="biobuttonbg">
                    <h4 id="biobuttonwords">
                        More About Keegan
                    </h4>
                </span>
            </a>
        </section>
    </section>
    <section class="otherinfo">
        <img src="../img/site3/malachi-brooks-4qigzcWjVqc-unsplash.jpg" id="sect01pic" style="margin-top: 85px;">
        <section id="moreinfosect" style="position: absolute; right: 100px; top: 85px;">
            <h2 id="mish">
                About
            </h2>
            <p id="misp" style="top: 190px;">
                I may not have much experience in the industry, but I still have skills that I can bring to a team. I
                have experiences from school that will also help me better fit into a team of any caliber. To read more
                about me, click the button below.
            </p>
            <a id="button" href="about.html">
                <span id="buttonbg">
                    <h4 id="buttonwords">
                        About
                    </h4>
                </span>
            </a>
        </section>


        <img src="../img/site3/christian-wiediger-WkfDrhxDMC8-unsplash.jpg" id="sect02pic">
        <section id="moreinfosect" style="position: absolute; left: 100px; top: 585px;">
            <h2 id="mish">
                Contact
            </h2>
            <p id="misp" style="top: 190px;">
                Have a project that you want help on. Need another set of eyes. Or you just want to have a chat. Click
                the button below to get in contact.
            </p>
            <a id="button" href="contact.html">
                <span id="buttonbg">
                    <h4 id="buttonwords">
                        Contact
                    </h4>
                </span>
            </a>


        </section>

        <img src="../img/site3/florian-olivo-JNz9bQD3Oio-unsplash.jpg" id="sect03pic">
        <section id="moreinfosect" style="position: absolute; right: 100px; top: 1085px;">
            <h2 id="mish">
                Other Work
            </h2>
            <p id="misp" style="top: 180px;">
                I've created templates for my portfolio site. I've also created games using various javascript
                libraries, whether it be vanilla javascript or some other outsourced library. To see all that I have
                done, click the button below.
            </p>
            <a id="button" href="about.html">
                <span id="buttonbg">
                    <h4 id="buttonwords">
                        Other Work
                    </h4>
                </span>
            </a>
        </section>

    </section>

    <%- include('partials/footer') -%>