<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
    <section class="game-two">
            
        <h2 class="game-two__title">Checkers</h2>
        
        <div class="checker white_checker" style="display:none"> </div>
        <div class="checker black_checker" style="display:none"> </div>
        <div class="square" style="display: none" id ="ht"> </div>
        <div class="black_background" id="black_background"> </div>

        <div class="score" id="score">
            <br>
        </div>
        <div class="table" id="table">

            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>  
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>  

            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>


            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>
    
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>
    
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>

            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>

            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            

        </div>
        <button id="restart" class="game-two__button" onClick="window.location.reload();">Restart</button>
        <div class="game-two__desc">
            <p class="game-two__desc-one">
            Red goes first. With local multiplayer.
            </p>
            <p class="game-two__desc-two">       
            Try to capture all the enemy pieces.
            </p>
        </div>
    </section>
<%- include('partials/footer') -%>