<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

    <section class="game-three">
            
        <h2 class="game-three__title">Connect Four</h2>
        
        <div class="game-three__announcement">
            <h4 class="game-three__announcement-text">It's <span id="player">red</span>'s turn!</h4>
        </div>
        
        <div class="game-three__container">
            <div id="board"></div>
        </div>
        
        
        <button id="restart" class="game-three__button">Restart</button>
        
        <div class="game-three__desc">
            <p class="game-three__desc-one">
            Click on spaces to place piece in slot.
            </p>
            <p class="game-three__desc-two">       
            Try to connect four of one color either
            horizontally, vertically, or diagonally.
            </p>
        </div>
    </section>

<%- include('partials/footer') -%>