<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<section class="game-one">   
  <h2 class="game-one__title" >Moon Survival</h2>
  <div id="game-one" class="game-one__game"></div>
  <div class="game-one__desc" >
    <p class="game-one__desc-title">
      How to Play
    </p> 
    <p class="game-one__desc-description">
      <span>Collect the stars and avoid the asteroids!</span>
      left Arrow - Left
      <br>
      Right Arrow - Right
      <br>
      Up Arrow - Jump
    </p>
  </div>
</section>

<%- include('partials/footer') -%>