<%- include('partials/header') -%>
<%- include('partials/game-nav') -%>

    <section class="game-two">
            
        <h2 class="game-two__title">Checkers</h2>
        
        <div class="checker white_checker" style="display:none"> </div>
        <div class="checker black_checker" style="display:none"> </div>
        <div class="square" style="display: none" id ="ht"> </div>
        <div class="black_background" id="black_background"> </div>

        <div class="score" id="score">
            <br>
        </div>
        <div class="table" id="table">

            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>  
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>
            <div class="checker white_checker"> </div>  

            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>
            <div class="checker black_checker"> </div>


            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>
    
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>
    
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>

            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="clear_float"> </div>

            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="square white_square"> </div>
            <div class="square black_square"> </div>
            <div class="clear_float"> </div>

            

        </div>
        <button id="restart" class="game-two__button" onClick="window.location.reload();">Restart</button>
        <div class="game-two__desc">
            <p class="game-two__desc-one">
            Red goes first. With local multiplayer.
            </p>
            <p class="game-two__desc-two">       
            Try to capture all the enemy pieces.
            </p>
        </div>
    </section>

    <div class="footer">
        <div class="social">
            <a class="social__tile" href="https://twitter.com/WTFguy13" target="_blank">
                <div class="social__tile-container">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </a>
            <a class="social__tile" href="https://www.linkedin.com/in/keeganjohnson43/" target="_blank">
                <div class="social__tile-container">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </a>
            <a class="social__tile" href="https://codepen.io/moon4433" target="_blank">
                <div class="social__tile-container">
                    <i class="fa-brands fa-codepen"></i>
                    <i class="fa-brands fa-codepen"></i>
                </div>
            </a>
            <a class="social__tile" href="https://github.com/moon4433" target="_blank">
                <div class="social__tile-container">
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
            </a>
        </div>
        <h6 class="footer__text">Keegan R Johnson  <span class="footer__copywrite">©<script>document.write(new Date().getFullYear())</script></span></h6>
    </div>

    <!-- Javascript Files -->
    <script src="js/game2.js" > </script>
    <script type="text/javascript" src="js/game-nav.js"></script>

<%- include('partials/footer') -%>