<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Keegan R Johnson Personal Website - Site 1</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body id="site-one">
        <section id="wordssection">
            <h1 id="name">
                Keegan Johnson
            </h1>
            <p class="personalinfo">
                I have lived in Grand Rapids all my life.
            </p>
            <p class="personalinfo">
                Graduated highschool in 2013.
            </p>
            <p class="personalinfo">
                Got my associate's degree in 2016.
            </p>
            <p class="personalinfo">
                Hopefully going to get my bacholars degree at the end of 2021.
            </p>
            <p class="personalinfo">
                Working at the <a class="personallink" href="https://kensfruitmarket.com/">Ken's Fruit Market</a> for 5 years now.
            </p>
            <p class="personalinfo">
                Worked at <a class="personallink" href="https://www.gravitytaphouse.com/menu/">Gravity Taphouse and Grille</a> before that.
            </p>
            <p class="personalinfo">
                Play video games and have a decent colection of them.
            </p>
            <p class="personalinfo">
                I write <a class="personallink" href="https://github.com/moon4433">code</a> and (used to) write <a class="personallink" href="https://twitter.com/WTFguy13">idiotic comments</a> about things I did.
            </p>
            <p class="personalinfo">
                I have a more detailed <a class="personallink" href="other/resume.pdf" target="_blank">resume</a> if that is what you are looking for.
            </p>
            <p class="personalinfo">
                I'm usually pretty quiet, but I do enjoy talkin also.
            </p>
            <p class="personalinfo">
                Always trying to learn something new.
            </p>
            <p class="personalinfo">
                Check out the first website I made. -<a class="personallink" href="#">Best Piece 01</a>-
            </p>
            <p class="personalinfo">
                Check out the second website I made. -<a class="personallink" href="/site-two">Best Piece 02</a>-
            </p>
            <p class="personalinfo">
                Check out the third website I made. -<a class="personallink" href="/site-three">Best Piece 03</a>-
            </p>
            <p class="personalinfo">
                Check out the first game I made. -<a class="personallink" href="/game-one">Best Piece 04</a>-
            </p>
            <p class="personalinfo">
                Check out the second game I made. -<a class="personallink" href="/game-two">Best Piece 05</a>-
            </p>
            <p class="personalinfo">
                Check out the third game I made. -<a class="personallink" href="/game-three">Best Piece 06</a>-
            </p>
            <p class="personalinfo">
                Check out my previous site. -<a class="personallink" href="/">Previous Site</a>-
            </p>
            <p class="personalinfo">
                Or go back to my main site. -<a class="personallink" href="/">Home</a>-
            </p>
        </section>
        <section id="picturessection">
            <img src="img/site1/site-one-image.jpg" id="img01">
        </section>
    </body>
</html>