<%- include('partials/header') -%>

<header>
    <h1 id="nametitle"><a href="/site-two" id="title">Keegan Johnson</a></h1>
    <section id="divider"></section>
    <section id="whitespace">
        <ul id="navbar">
            <li id="home"><a id="navitems" href="/site-two">HOME</a></li>
            <li id="about"><a id="navitems" href="/site-two/about">ABOUT</a></li>
            <li id="otherwork"><a id="navitems" href="/site-two/other-work">OTHER WORK</a></li>
            <li id="contact"><a id="navitems" class="selected" href="/site-two/contact">CONTACT</a></li>
        </ul>
    </section>
</header>

<section id="info">
    <p id="aboutme" style="text-align: center; padding-top: 20px; border-top: 2px solid #cfd9d6; border-bottom: 2px solid #cfd9d6; margin-bottom: 110px;">To get in touch, email keeganjohnson43@gmail.com
    </p>
</section>

<%- include('partials/footer') -%>