<%- include('partials/header') -%>

<header>
    <h1 id="nametitle"><a href="/site-two" id="title">Keegan Johnson</a></h1>
    <section id="divider"></section>
    <section id="whitespace">
        <ul id="navbar">
            <li id="home"><a id="navitems"  href="/site-two">HOME</a></li>
            <li id="about"><a id="navitems" href="/site-two/about">ABOUT</a></li>
            <li id="otherwork"><a id="navitems" class="selected" href="/site-two/other-work">OTHER WORK</a></li>
            <li id="contact"><a id="navitems" href="/site-two/contact">CONTACT</a></li>
        </ul>
    </section>
</header>

<section id="tablesect">
    <table id="otherworktable">
          <tr id="titlerow">
            <td id="tabletitledata">Current Site</td>
          </tr>
          <tr id="otherworkrow">
              <td id="tabledata"><a href="/"><img src="../img/work/work08.png" id="bp02" href="index.html"></a></td>
          </tr>
    </table>
    <table id="otherworktable">
        <tr id="titlerow">
          <td id="tabletitledata">Previous Site</td>
        </tr>
        <tr id="otherworkrow">
            <td id="tabledata"><a href="/"><img src="../img/work/work07.png" id="bp02" href="index.html"></a></td>
        </tr>
  </table>
    <table id="otherworktable">
          <tr id="titlerow">
            <td id="tabletitledata">Best Piece 01</td>
            <td id="tabletitledata">Best Piece 02</td>
            <td id="tabletitledata">Best Piece 03</td>
          </tr>
          <tr id="otherworkrow">
            <td id="tabledata"><a href="/site-one"><img src="../img/work/work01.png" id="bp01"></a></td>
              <td id="tabledata"><a href="/site-two"><img src="../img/work/work02.png" id="bp02" href="index.html"></a></td>
              <td id="tabledata"><a href="/site-three"><img src="../img/work/work03.png" id="bp03" href="../bpsite1/index.html"></a></td>
          </tr>
    </table>
    <table id="otherworktable">
          <tr id="titlerow">
            <td id="tabletitledata">Best Piece 04</td>
            <td id="tabletitledata">Best Piece 05</td>
            <td id="tabletitledata">Best Piece 06</td>
          </tr>
          <tr id="otherworkrow">
            <td id="tabledata"><a href="/game-one"><img src="../img/work/work04.png" id="bp01"></a></td>
              <td id="tabledata"><a href="/game-two"><img src="../img/work/work05.png" id="bp02" href="index.html"></a></td>
              <td id="tabledata"><a href="/game-three"><img src="../img/work/work06.png" id="bp03" href="../bpsite1/index.html"></a></td>
          </tr>
    </table>
</section>

<%- include('partials/footer') -%>