@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/variables' as *;

.footer{
   background-color: #121212;
   padding-top: 75px;
   padding-bottom: 15px;
   position: relative;
   &__text{
      color: #F5F5F5;
      margin: 25px auto 0;
      text-align: center;
   }
   &__copywrite{
      color:#F05454;
   }
   &__back-to-top{
      display: block;
      height: 50px;
      width: 50px;
      background-color: #F05454;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 0;
      color: #F5F5F5;
      text-align: center;
      font-size: 1.4rem;
      border-radius: 5px;
      &:hover{
         color: #F5F5F5;
      }
      & i{
         position: absolute;
         transform: translate(-50%, -50%);
         &:nth-of-type(1){
            top: 45%;
         }
         &:nth-of-type(2){
            top: 65%;
         }
      } 
   }
   & .social{
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 25%;
      @include breakMax(1440px){
         width: 40%;
      }
      @include breakMax(768px){
         width: 75%;
      }
      &__tile{
         display: grid;
         height: 50px;
         width: 50px;
         background-color: #f5f5f5;
         color: #121212;
         overflow: hidden;
         text-align: center;
         line-height: 50px;
         font-size: 30px;
         border-radius: 100%;
         position: relative;
         text-decoration: none;
         margin: 10px 5px 0;
         &-container{
            position: relative;
            top: -50%;
            transition: top .2s;
         }
         &:hover{
            background-color: #F05454;
            color: #121212;
         }
         &:hover .social__tile-container{
            top: 0%;
         }
      }
}

}

@keyframes iconMover {
   0% {
     top: 2;
   }
   50% {
     top: 30px;
     left: 20px;
   }
   50% {
     top: 10px;
   }
   100% {
     top: 0;
   }
 }