@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/variables' as *;

.nav{
  width: 100%;
  height: 75px;
  font-family: 'Roboto', sans-serif;
  background-color: #30475E;
  &__menu{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    &-item{
      list-style: none;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }
  &__link{
    color: #F5F5F5;
    font-weight: 700;
    text-decoration: none;
    &.--active{
      color: #F05454;
    }
    &:hover{
      color: #F05454;
    }
  }
}
