@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/variables' as *;

.nav{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #30475E;
  transition: top 1s;
  &__menu{
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 12.5%;
    &-item{
      list-style: none;
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 75px;
    }
    @include breakMax(1440px){
      width: 50%;
    }
    @include breakMax(768px){
      display: none;
    }
  }
  &__link{
    color: #F5F5F5;
    font-weight: 700;
    text-decoration: none;
    display: block;
    &.--active{
      color: #F05454;
    }
    &:hover{
      color: #F05454;
    }
  }
}
#sticky.nav{
  position: fixed;
  z-index: 10;
  top: -75px;
  visibility: collapse;
  transition: top .4s;
}
#sticky.nav.active{
  top: 0px;
  visibility: visible;
}